<app-sales-activity></app-sales-activity>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <app-task></app-task>
        </div>
        <div class="col-md-6">
            <app-top-selling-variant></app-top-selling-variant>
        </div>
    </div>
</div>
<br> <br>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <app-products></app-products>
        </div>
        <div class="col-md-6">
            <app-stock-details></app-stock-details>
        </div>
    </div>
</div>
     

