<div class="headerDiv">
    <span class="setContentInMiddle">Dashboard</span>
    <span class="setContentInMiddle" style="float: right;">
        <i class="glyphicon glyphicon-bell" style="font-size: large; margin-right: 10px;"></i>
        <img src="../../../../assets/Asset 7.png" style="height: 40px; border-radius: 50%;">
    </span>
</div>
<div class="headerDiv" style="background-color: white;">
    <span class="setContentInMiddle" style="float: right;">
        <i class="glyphicon glyphicon-asterisk" style="font-size: large; margin-right: 20px; color: grey;"></i>
        <i class="glyphicon glyphicon-download-alt" style="font-size: large; margin-right: 20px; color: grey;"></i>
        <i class="glyphicon glyphicon-print" style="font-size: large; margin-right: 10px; color: grey;"></i>
    </span>
</div>
<hr style="margin-top: -5px;">
