.headerDiv{
    background-color: cadetblue;
    height: 50px;
    padding-left: 2%;
    padding-right: 2%;
}

.setContentInMiddle{
    vertical-align: middle;
    line-height: 45px;
    color: whitesmoke;
}